<p id="notice"><%= notice %></p>

<p>
  <strong>Age limit:</strong>
  <%= @book.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @book.count %>
</p>

<p>
  <strong>Remain:</strong>
  <%= @book.remain %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', :back %>
