<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @publication.issn %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @publication.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @publication.status %>
</p>

<%= link_to 'Back', publications_path %>
<% if current_user %>
  <% if @publication.available? %>
    <%= link_to 'Borrowing', borrowings_path(borrowing: { publication_id: @publication.id }), method: :post %>
  <% end %>
  <%= link_to 'Reservation', reservations_path(reservation: { publication_id: @publication.id }), method: :post %>
<% else %>
  Borrowingするには<%= link_to 'ログイン', new_session_path %>してください
<% end %>
