<div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= @user.library.name %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= non_subdomained_login_id request, @user.login_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %>
</div>

<div class="col-md-6">
  <h1>Lendings</h1>
  <% @user.lendings.reverse_each do |lending| %>
    <p>
      <strong>Publication:</strong>
      <%= lending.publication.name %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= lending.publication.author %>
    </p>

    <p>
      <strong>Expire at:</strong>
      <%= lending.expire_at %>
    </p>

    <p>
      <strong>Expired at:</strong>
      <%= lending.expired_at %>
    </p>
    <% if lending.expired_at.nil? %>
      <%= link_to '返却', lending, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<div class="col-md-6">
  <h1>Reservations</h1>
  <% @user.reservations.reverse_each do |reservation| %>
    <p>
      <strong>Publication:</strong>
      <%= reservation.publication.name %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= reservation.publication.author %>
    </p>

    <p>
      <strong>Expire at:</strong>
      <%= reservation.expire_at %>
    </p>

    <p>
      <strong>Expired at:</strong>
      <%= reservation.expired_at %>
    </p>
    <% if reservation.expired_at.nil? && lendingable?(@user, reservation.publication, reservation) %>
      <%= link_to 'レンタル', lendings_path(lending: { "#{reservation.publication.class.name.downcase}_id" => reservation.publication.id }), method: :post %>
    <% end %>
    <% if reservation.expired_at.nil? %>
      <%= link_to '取り消し', reservation, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>


