<div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= non_subdomained_login_id request, @user.login_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %>
</div>

<div class="col-md-6">
  <h1>Borrowings</h1>
  <% @user.borrowings.reverse_each do |borrowing| %>
    <p>
      <strong>Publication:</strong>
      <%= borrowing.publication.name %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= borrowing.publication.author %>
    </p>

    <p>
      <strong>Expire at:</strong>
      <%= borrowing.expire_at %>
    </p>

    <p>
      <strong>Expired at:</strong>
      <%= borrowing.expired_at %>
    </p>
    <% if borrowing.expired_at.nil? %>
      <%= link_to '返却', borrowing, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<div class="col-md-6">
  <h1>Reservations</h1>
  <% @user.reservations.reverse_each do |reservation| %>
    <p>
      <strong>Publication:</strong>
      <%= reservation.publication.name %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= reservation.publication.author %>
    </p>

    <p>
      <strong>Expire at:</strong>
      <%= reservation.expire_at %>
    </p>

    <p>
      <strong>Expired at:</strong>
      <%= reservation.expired_at %>
    </p>
    <% if reservation.expired_at.nil? && borrowingable?(@user, reservation.publication, reservation) %>
      <%= link_to 'レンタル', borrowings_path(borrowing: { "#{reservation.publication.class.name.downcase}_id" => reservation.publication.id }), method: :post %>
    <% end %>
    <% if reservation.expired_at.nil? %>
      <%= link_to '取り消し', reservation, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>


