<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @rental.publication.library.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rental.publication.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @rental.publication.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @rental.publication.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @rental.publication.issn %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @rental.publication.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rental.publication.status %>
</p>

<% if current_user %>
  <% if @rental.publication.available? %>
    <%= link_to 'Rental', rentals_path(rental: { publication_id: @rental.publication.id }), method: :post %>
  <% end %>
  <%= link_to 'Reservation', reservations_path(reservation: { publication_id: @rental.publication.id }), method: :post %>
<% end %>
