<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rental.user %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @rental.publication %>
</p>

<p>
  <strong>Expire at:</strong>
  <%= @rental.expire_at %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @rental.expired_at %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
