<p id="notice"><%= notice %></p>

<p>
  <strong>Age limit:</strong>
  <%= @book.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @book.count %>
</p>

<p>
  <strong>Remain:</strong>
  <%= @book.remain %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<%= link_to 'Back', publications_path %>
<% if current_user %>
  <% if @book.available? %>
    <%= link_to 'Lending', lendings_path(lending: { book_id: @book.id }), method: :post %>
  <% end %>
  <%= link_to 'Reservation', reservations_path(reservation: { book_id: @book.id }), method: :post %>
<% else %>
  Lendingするには<%= link_to 'ログイン', new_session_path %>してください
<% end %>

