<h1>Listing magazines</h1>

<table>
  <thead>
    <tr>
      <th>Library</th>
      <th>Age limit</th>
      <th>Status</th>
      <th>Author</th>
      <th>Name</th>
      <th>Count</th>
      <th>Remain</th>
      <th>Issn</th>
      <th>Interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine| %>
      <tr>
        <td><%= magazine.library %></td>
        <td><%= magazine.age_limit %></td>
        <td><%= magazine.status %></td>
        <td><%= magazine.author %></td>
        <td><%= magazine.name %></td>
        <td><%= magazine.count %></td>
        <td><%= magazine.remain %></td>
        <td><%= magazine.issn %></td>
        <td><%= magazine.interval %></td>
        <td><%= link_to 'Show', magazine %></td>
        <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
        <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magazine', new_admin_magazine_path %>
