<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @magazine.library %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @magazine.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @magazine.status %>
</p>

<p>
  <strong>Author:</strong>
  <%= @magazine.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @magazine.count %>
</p>

<p>
  <strong>Remain:</strong>
  <%= @magazine.remain %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @magazine.issn %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @magazine.interval %>
</p>

<%= link_to 'Edit', edit_admin_magazine_path(@magazine) %> |
<%= link_to 'Back', :back %>
