<%= form_for(@lending) do |f| %>
  <% if @lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
      <% @lending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @lending.publication.library.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lending.publication.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @lending.publication.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @lending.publication.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @lending.publication.issn %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @lending.publication.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lending.publication.status %>
</p>

<% if current_user %>
  <% if @lending.publication.available? %>
    <%= link_to 'Lending', lendings_path(lending: { publication_id: @lending.publication.id }), method: :post %>
  <% end %>
  <%= link_to 'Reservation', reservations_path(reservation: { publication_id: @lending.publication.id }), method: :post %>
<% end %>
