<h1>Listing lendings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Publication</th>
      <th>Expire at</th>
      <th>Expired at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= lending.user %></td>
        <td><%= lending.publication %></td>
        <td><%= lending.expire_at %></td>
        <td><%= lending.expired_at %></td>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path %>
