<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @publication.library.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @publication.category %>
</p>

<p>
  <strong>Count:</strong>
  <%= @publication.count %>
</p>

<p>
  <strong>Remain:</strong>
  <%= @publication.remain %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @publication.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @publication.status %>
</p>

<%= link_to 'Edit', edit_admin_publication_path(@publication) %> |
<%= link_to 'Back', admin_publications_path %>
