<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @publication.library.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @publication.issn %>
</p>

<p>
  <strong>Age limit:</strong>
  <%= @publication.age_limit %>
</p>

<p>
  <strong>Status:</strong>
  <%= @publication.status %>
</p>

<%= link_to 'Edit', edit_admin_publication_path(@publication) %> |
<%= link_to 'Back', admin_publications_path %>
