<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "#{request.subdomain}職員Ver.", admin_root_path, class: "navbar-brand" %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "所蔵物", admin_publications_path %>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_staff %>
          <li><%= link_to "ログアウト", admin_staff_session_path(current_staff), method: :delete %></li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Login <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="download">
              <li><%= link_to "利用者", new_user_session_path %></li>
              <li><%= link_to "職員", new_admin_staff_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>

